body {

    background-color:  rgba(210, 238, 222, 0.733);
   
   
   
   }
   h1 {

    color: rgb(95, 100, 95);;
    margin: 50px auto 0 auto;
    text-align: center;
    font-family: 'Kreon', serif;
    font-size: 50px;
}

h2 {

    font-family: 'Kreon', serif;
    color:rgb(95, 100, 95);
    font-size: 40px;
    margin: 10px;

    
}
 
h3 {

    font-family: 'Kreon', serif;
    color:rgb(95, 100, 95);
    font-size: 35px;
    margin: 10px;

}
.p1 {

    color: rgb(95, 100, 95);;
    margin: 50px auto 0 auto;
    text-align: center;
    font-family: 'Kreon', serif;
    font-size: 35px;
}

p {

    font-family: 'Kreon', serif;
    color:rgb(95, 100, 95);
    font-size: 25px;
    
}

hr {

    color:rgb(95, 100, 95);

}

.suite {

        font-family: 'Kreon', serif;
        color:rgb(95, 100, 95);
        font-size:20px;
        margin: 20px;
    

}

.Packages {

    font-family: 'Kreon', serif;
    color:rgb(95, 100, 95);
    font-size:20px;
    margin: 20px;


}

.btn {

    outline: none;
    display: block;
    margin-left: 480px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 30px;
    background: rgb(85, 107, 89);
    color: rgb(238, 247, 238);
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;



}

.btn2
 {

    outline: none;
    display: block;
    margin-left: 480px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 30px;
    background: rgb(85, 107, 89);
    color: rgb(238, 247, 238);
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;



}